@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

#about-container {
	width: 100%;
	height: 100vh;
	@include flex-items-center;
	#about-text {
		width: 40%;
		margin: auto;
		text-align: center;
		h1 {
			font-family: $header-font;
			font-size: 2em;
		}
	}
}