@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

#about-container {
	width: 100%;
	min-height: 100vh;
	@include flex-items-center;
	#about-text {
		width: 40%;
		padding: 2%;
		margin: auto;
		text-align: center;
		h1 {
			font-family: $header-font;
			font-size: 2em;
		}
	}
}

@media (max-width: 736px) {

	#about-container {
		margin-top: 60px;
		#about-text {
			width: 60%;
		}
	}

}


@media (max-width: 415px) {

	#about-container {
		margin-top: 60px;
		#about-text {
			width: 80%;
		}
	}

}