<footer>
	<div id="social">
		<div id="social-links">
			<div *ngFor="let social of socials" class="icon">
					<a *ngIf="userService.loggedIn" href="/social/edit/{{ social._id }}"><i class="{{social.icon}}"></i></a>
					<a *ngIf="!userService.loggedIn" href="{{ social.link }}"><i class="{{social.icon}}"></i></a>
			</div>
		</div>
		<div id="bottom-triangle"><i (click)="pageTop()" class="fas fa-arrow-circle-up"></i></div>
	</div>
	<div id="bottom-bar">
		<p>Ricky Goacher</p>		
	</div>
</footer>
