#hero-container {
	width: 100vw;
	min-height: 100vh;
	#image-container {
		background-color: lightgrey;
		width: 100vw;
		height: 90vh;
		#image {
			position: absolute;
			top: 0px;
			width: 100%;
			height: 100vh;
			z-index: -1;
		}
		#hero-triangle {
			-webkit-clip-path: polygon(0 84%, 100% 19%, 100% 100%, 0% 100%);
			clip-path: polygon(0 84%, 100% 19%, 100% 100%, 0% 100%);
			width: 100%;
			height: 100vh;
			background-color: darkgrey;
			z-index: 1;
		}
		#hero-text-container {
			width: 100%;
			height: 100vh;
			position: absolute;
			top: 0px;
			display: flex;
			align-items: center;
			#hero-text {
				width: 40%;
				text-align: center;
				margin: auto;
				padding: 2%;
				-webkit-box-shadow: 4px 4px 20px 0px rgba(50, 50, 50, 0.5);
				-moz-box-shadow:    4px 4px 20px 0px rgba(50, 50, 50, 0.5);
				box-shadow:         4px 4px 20px 0px rgba(50, 50, 50, 0.5);
				background-color: red;
				color: white;
			}
		}
	}
}