<div id="thumbnail-contaniner">
	<div class="thumbnail">
		<div class="thumbnail-image">

		</div>
		<div class="thumbnail-text">
			<h3>Lorem ipsum</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque facilisis, velit non bibendum venenatis, lectus nulla rhoncus mauris, eget sodales tortor diam nec erat.</p><a href="">Read more...</a>
		</div>
		<div class="thumb-shape"></div>
	</div>
	<div class="thumbnail">
		<div class="thumbnail-image">

		</div>
		<div class="thumbnail-text">
			<h3>Lorem ipsum</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque facilisis, velit non bibendum venenatis, lectus nulla rhoncus mauris, eget sodales tortor diam nec erat.</p><a href="">Read more...</a>
		</div>
		<div class="thumb-shape"></div>
	</div>
	<div class="thumbnail">
		<div class="thumbnail-image">

		</div>
		<div class="thumbnail-text">
			<h3>Lorem ipsum</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque facilisis, velit non bibendum venenatis, lectus nulla rhoncus mauris, eget sodales tortor diam nec erat.</p><a href="">Read more...</a>
		</div>
		<div class="thumb-shape"></div>
	</div>
</div>
