nav {
	position: fixed;
	top: 0px;
	width: 100vw;
	height: 80px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: red;
	z-index: 9999;
	ul {
		display: flex;
		list-style: none;
		align-content: space-evenly;
		li {
			margin-right: 4vw;
			a {
				color: white;
				text-decoration: none;
			}
		}
	}
	#logged-in {
		display: none;
	}
	.logo {
		display: flex;
		align-items: center;
		width: 150px;
		height: 150px;
		margin-right: auto;
		padding: 2%;
		-webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
		clip-path: polygon(100% 0, 0 0, 0 100%);
		background-color: grey;
	}


}