$main-gradient: linear-gradient(to left bottom, #ba1111, #ae0e0e, #a20b0b, #960808, #8a0505);
$secondary-gradient: linear-gradient(to right top, #89726d, #7c6661, #6f5955, #624e49, #56423e);

$main-font: 'Abel', sans-serif;
$header-font: 'Titillium Web', sans-serif;
$paragraph-font: 'Open Sans', sans-serif;