nav {
	position: fixed;
	top: 0px;
	width: 100vw;
	height: 80px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-image: linear-gradient(to left bottom, #ba1111, #ae0e0e, #a20b0b, #960808, #8a0505);
	z-index: 9999;
	-webkit-box-shadow: 4px 4px 20px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    4px 4px 20px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         4px 4px 20px 0px rgba(50, 50, 50, 0.5);
	ul {
		display: flex;
		list-style: none;
		align-content: space-evenly;
		li {
			margin-right: 4vw;
			a {
				color: white;
				text-decoration: none;
				font-family: 'Abel', sans-serif;
			}
		}
	}
	#logged-in {
		display: none;
	}
	.logo {
		display: flex;
		align-items: center;
		width: 150px;
		height: 150px;
		margin-right: auto;
		padding: 2%;
		-webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
		clip-path: polygon(100% 0, 0 0, 0 100%);
		background-color: #56423E;
		font-size: 2em;
		a {
			color: white;
		}
	}


}